body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  background-color: #efe3e3ff;
}

#customize {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;     
  border: 2px solid #333;
  flex: 0 0 auto;
}

.square {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;  
}
